@{
    ViewData["Title"] = "Contact Information";
}
<h2> Contact Infromation:</h2> 
<div>
    <p>Name: Cameron White</p>
    <p>Email: cameronwhite4121@gmail.com</p>
    <p>Discord ID: cameronw.beans</p>
</div>

<hr />

<div>
    <p>Name: Elizabeth Proctor</p>
    <p>Email: Elizabethproctor66@gmail.com</p>
    <p>Discord ID: elizabeth_k9</p>
</div>

<p> </p>

 <h2> Other Information:</h2>
<div>
    <a href="https://docs.magicthegathering.io/" target="_blank">Magic The Gathering API used.</a>
    <p> </p>
    <a href="https://company.wizards.com/en" target="_blank">Official Website for the creators of Magic The Gathering.</a>
</div>