html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

/* This is the index.cshtml css*/
body {
    margin-bottom: 60px;
    background-image: url('/sdf.webp');
    background-size: cover;
    background-position: center;
}

.welcome h1 {
    font-size: 4.5em;
    text-align: center;
    margin-top: 50px;
    color: lightblue;
}

.About{
    text-align: center;
    margin-top: 50px;
}

#One{
    color: lightgreen;
    margin-top: 100px;
}

#Two{
    color: lightcoral;
    margin-top: 50px;
}

#Three{
    color: lightcyan;
    margin-top: 50px;
}

.warning{
    color: darkgoldenrod;
    text-align: center;
    margin-top: 200px;
}
