
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="wwwroot/site.css">
</head>
<body>
    <div class="welcome">
        <h1>Welcome to MTG Deck Builder and Organizer!</h1>
    </div>
    <div class="About">
        <h3 id="One"> Build, Organize, and keep track of your cards and decks!</h3>

       
        <h3 id="Two"> Find out how rare your cards are and their values!</h3>

        <h3 id="Three"> As well as seeing decks built by other users!</h3>
    </div>


    <div class="warning"> 
       <p> This website is not Produced, Endorsed, Supported, or Affliated with Wizards of The Coast.</p>
    </div>
</body>


</html>


