<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.PageTitle</title>
    <link rel="icon" href="~/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MTGDeckBuilder.styles.css" asp-append-version="true" />
</head>
<body>
    
        <div style="width: 100px;">
            <nav class="nav flex-column nav-pills">
                <a class="nav-link active" id="home-tab" data-bs-toggle="pill" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
                <a class="nav-link" id="profile-tab" data-bs-toggle="pill" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
                <a class="nav-link" id="deck-tab" data-bs-toggle="pill" href="#decks" role="tab" aria-controls="decks" aria-selected="false">Decks</a>
                <a class="nav-link" id="card-tab" data-bs-toggle="pill" href="#cardIn" role="tab" aria-controls="cardIn" aria-selected="false">Card Inventory</a>
                <a class="nav-link" id="resources-tab" data-bs-toggle="pill" href="#resources" role="tab" aria-controls="resources" aria-selected="false">Resources</a>
            </nav>
        </div>
    
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
