@model MTGDeckBuilder.Models.GameCard

@{
    ViewData["Title"] = "View Information";
}

@if(Model != null)
{
    <div class="card" style="width: 18rem; margin: 1rem; text-align:center">
        <img src="@Html.DisplayFor(model => model.cardImageURL)" 
             class="card-img-top" 
             alt="@Html.DisplayFor(model => model.CardName) @Html.DisplayFor(model => model.CardSet)">
    </div>   
}
else
{
    <p> Card could not be found</p>    
}
<div>
    <a asp-action="CardSearch">Back to List</a>
</div>
